<nav>
  <div class="nav-wrapper" style="background-color: #46aef3;">
    <a style = "text-decoration:none;" href="#" class="brand-logo">Tutorials</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a style = "text-decoration:none;" href="/">Home</a></li>
        
        
      {% if user.is_authenticated %}
      <li><a style = "text-decoration:none;" href="/account">{{user.username|title}}</a></li>
      <li><a style = "text-decoration:none;" href="/logout">Logout</a></li>
 {% else %}
     <li><a style = "text-decoration:none;" href="/register">Register</a></li>
     <li><a style = "text-decoration:none;" href="/login">Login</a></li>
 {% endif %}


    </ul>
  </div>
</nav> 


